rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /applications/{applicationId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || !('userId' in resource.data) || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    match /notifications/{notificationId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || !('userId' in resource.data) || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    match /evaluations/{evaluationId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || !('userId' in resource.data) || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
